<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        {% block header %}
            <h1>Mood Tracker</h1>
        {% endblock %}
    </header>
    <nav>
        <a href="{% url 'homepage' %}">Home</a> |
        <a href="{% url 'track_mood' %}">Track Mood</a>
        <hr>
    </nav>
    <main>
        {% block main %}

        {% endblock %}
    </main>
    <footer>
        {% block footer %}
        
        {% endblock %}
    </footer>
</body>
</html>