<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .icon{
            font-size: 60px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie-rating App</title>
</head>
<body>
    <h1>Movie: {{title}}</h1>
    <p><strong>Rating:{{rate}}/10</strong></p>
    {% if rate >= 9 %}
    <p class="icon">🌟</p>
    <p>Absolutely amazing! Must watch movie.</p>
    <p><em>Highly recommended!</em></p>
    {% elif rate >= 7 %}
    <p class="icon">👍</p>
    <p>Great movie! Worth your time.</p>
    <p><em>Recommended if you enjoy good story telling</em></p>
    {% elif rate >= 5 %}
    <p class="icon">👌</p>
    <p>Decent watch, but not exceptional. </p>
    <p><em>Recommended for casual behaviour.</em></p>
    {% else %}
    <p class="icon">👎</p>
    <p>Not a great movie.</p>
    <p><em>Watch only if you are really curious.</em></p>
    {% endif %}
</body>
</html>