body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0px;
    /* background-color: ; */
}

header{
    background-color: rgb(82, 82, 239);
    color: #fff;
    padding: 20px;
    text-align: center;

}
nav{
    background-color: rgb(214, 208, 208);
    padding: 0.4rem ;
    margin:0;
}
main h1{
    text-align: center;
}
footer{
    background-color: rgb(142, 142, 215);
    padding: 0.3rem;
    color:#fff;
    text-align: center;

}
/* h1 {
    color: #05105d;
}

p {
    color: #1d0676;
} */