/* 
        body { font-family: Arial, sans-serif; margin: 0; padding: 0; }
        header { background-color: #4954d1; color: white; padding: 1rem; }
        nav { background-color: #f3f3f3; padding: 0.1rem; }
        nav a { margin-right: 1rem; text-decoration: none; color: #333; }
        main { padding: 1rem; }
        footer { background-color: #ac83ee; color: white; text-align: center; padding: 1rem; } */

        body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #dbfe5a;
}

h1 {
    color: #05105d;
}

p {
    color: #1d0676;
}