<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Students and their Courses</h1>
    <ul>
        {% for student in students %}
        <li>
            <strong>{{student.name}}</strong> is enrolled in 
            <ul>
                {% for course in student.courses.all %}
                <li>
                    {{course.name}}
                </li>
                {% empty %}
                    <li>No courses available</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    <h1>Courses and their Students</h1>
    <ul>
        {% for course in courses %}
        <li>
            <strong>{{course.name}}</strong> has students:
            <ul>
                {% for student in course.students.all %}
                <li>
                    {{student.name}}
                </li>
                {% empty %}
                    <li>No students enrolled</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>

</body>
</html>