    {% extends "base.html" %}

    
    {% block header %}
        <h1>My Site</h1>
    {% endblock %}

    
    {% block main %}
        <h2>{{form_title}}</h2>
        <p>We'd love to hear your suggestion!</p>
        
        <form method="POST" action=""><!-- 'action=""' means submit to the current URL -->

            {{form.as_p}}<!-- This will render our form's fields.
                           Since our form class is empty, it won't output any fields yet,
                           but it's important to include for when we add them. -->

            <button type="submit">Submit Suggestion</button>

        </form>

        <p>This is a basic form without any form fields.Clicking the above submit button will not do anything as of now.</p>
    {% endblock %}

    
    {% block footer %}
        &copy; My Awesome Site
    {% endblock %}